@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;

}
header{
    margin-top: 50px;
}
.banner-container{
    background-image: url("images/Banner\ Image.png");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.banner-text{
    width: 632px;
    height: 246px;
    text-align: center;
}
.banner-text p{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-text h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* 65% off section here */

.discount-container{
    max-width: 802px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;

}
.discount-text{
    text-align: center;
}
.discount-image{
    max-width: 802px;
    height: 500px;
}
.discount-image img{
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-style: dashed;
}
.discount-text h1{
    color: rgb(255, 0, 0);
    font-family: intr;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-text p{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.discount-text h2{
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* welcome party styles here */

.party-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("images/party.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: 2px solid red;
}
.party-description{
    width: 60%;
    margin-left: 128px;
}
.party-description h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
margin-bottom: 24px;
}
.party-description a{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
.party-description p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-bottom: 48px;
}
.party-year{
    width: 30%;
    margin-right: 136px;
}

/* shedule section styles here */

.shedule-container{
    background: #ffe7e7;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
    
    

}
.shedule-text{
    width: 549px;
    height: 272px;
        display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.shedule-text span{
    color: red;
}
.shedule-text button{
    background-color: red;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
}
.sale{
max-width: 1320px;
    height: 662px;
    margin: 0 auto;
    position: relative;

    
}
.sale-image{
    width: 100%;
    height: 229px;
    position: absolute;
    background: red;
    top: 66%;
}
.sale-image img{
    position: absolute;
    width: 676px;
    height: 577px;
    bottom: 90px;
    
    
}
.icon50{
    position: absolute;
    left: 650px;
    top: 50px;
    z-index: 1;
}
.yar{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 800px;
    top: 100px;
}


/* portfolio styles here */
.portfolio-container{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.comming-soon-txt{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.comming-soon-txt .subtitle{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.comming-soon-txt h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
margin-bottom: 22px;
}
.comming-soon-txt .des{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.portfolio-image{
    width: 35%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    border: 7px solid red;
    justify-content: center;
}
.new-year-wish{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 118px;

}
.new-year-wish h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-bottom: 16px;
}
.new-year-wish p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.wish{
    width: 140px;
    height: 140px;
}
/* footer section styles here */
footer{
    width: 100%;
    height: 609px;
    background: #070211;
}
.footer-container{
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    color: white;
    padding-top: 120px;

}
.info{
    width: 1185px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}
.address{
    width: 30%;
    height: 100%;
    
}
.contacts{
    width: 20%;
    height: 100%;
}
.icons{
    width: 100%;
    height: 160px;
    margin-top: 50px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}